In [131]:
#This is the functional Version. Use this for creating the report
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [132]:
#disable warnings
import warnings; warnings.simplefilter('ignore')

The source files for this script are SalesForce reports Interactions.Contacts.csv and Interactions.Opportunity.Term.csv. The source files have to be stored in a NON-GIT folder so that they will never be available to git hub. Whenever the source files are updated into box the old source files should be placed in a depreciated state in a different folder. This script therefore will always pull the most recent Salesforce report results.

In [133]:
#INT is the contact information for INTERACTIONS
INT=pd.read_csv('C:/Users/mjc341/Desktop/UMAN 1507 Monthly INQ summary Report/Interactions.Contacts.csv',skipfooter=5,encoding='latin-1',engine ='python')
#INT=pd.read_csv('C:/Users/sxh706/Desktop/Interactions.by.Month/2018/June/Interactions.Contacts.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [134]:
#CON is the CONTACT TERM information
CON=pd.read_csv('C:/Users/mjc341/Desktop/UMAN 1507 Monthly INQ summary Report/Interactions.Opportunity.Term.csv',skipfooter=5,encoding='latin-1',engine ='python')
#CON=pd.read_csv('C:/Users/sxh706/Desktop/Interactions.by.Month/2018/June/Interactions.Opportunity.Term.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [135]:
len(INT)

1305259

In [136]:
len(CON)

818555

In [137]:
#INT.info()

In [142]:
INT.columns

Index(['Contact: Contact ID (18-digit)', 'Interaction: Interaction Name',
       'Admit Type', 'Contact: First Name', 'Contact: Middle Name',
       'Contact: Last Name', 'Contact: Ethnic Group', 'Contact: Ethnicity',
       'Contact: Gender', 'Term', 'Lead Source', 'Interaction: Created Date',
       'Contact: Mailing Street', 'Contact: Mailing City',
       'Contact: Mailing State/Province', 'Contact: Mailing Zip/Postal Code',
       'Contact: Mailing Country', 'Contact: Other City',
       'Contact: Other State/Province', 'Contact: Other Zip/Postal Code',
       'Contact: Other Country', 'Contact: Market Segment Code',
       'Contact: Market Segment'],
      dtype='object')

In [143]:
CON.columns

Index(['Contact ID (18-digit)', 'Opportunity Name', 'Term: Term Name',
       'Opportunity Record Type', 'Inquiry', 'Inquiry Date',
       'Opportunity ID (18-digit)', 'Empl ID', 'Application Number'],
      dtype='object')

In [144]:
#CON.info()

In [145]:
#remove columns with identifing info
CON = CON.drop(columns =['Full Name'])

KeyError: "['Full Name'] not found in axis"

In [146]:
#remove columsn with identifing info
INT = INT.drop(columns= ['Contact: First Name', 'Contact: Middle Name',
       'Contact: Last Name'])

In [147]:
#changed the name of columns using a dictionary
INT = INT.rename(columns ={'Contact: Contact ID (18-digit)':'Contact_ID','Interaction: Interaction Name':'Int_Name',
       'Admit Type':'Admit_Type','Contact: Ethnic Group': 'Ethnic_Group', 'Contact: Ethnicity':'Ethnicity',
       'Contact: Gender':'Gender', 'Term':'Term', 'Lead Source':'Lead_Source', 'Interaction: Created Date':'Create_Date',
       'Contact: Mailing Street':'Mailing_Street', 'Contact: Mailing City':'Mailing_City',
       'Contact: Mailing State/Province':'Mailing_State', 'Contact: Mailing Zip/Postal Code':'Mailing_Postal',
       'Contact: Mailing Country':'Mailing_Country', 'Contact: Other City':'Other_City',
       'Contact: Other State/Province':'Other_State', 'Contact: Other Zip/Postal Code':'Other_Postal',
       'Contact: Other Country':'Mailing_Country', 'Contact: Market Segment Code':'Market_Segment_Code',
       'Contact: Market Segment':'Market_Segment'},inplace =False)

In [148]:
#changed the name of columns
CON = CON.rename(columns={  'Contact ID (18-digit)':'Contact_ID', 'Opportunity Name':'OppName', 
       'Term: Term Name':'Term', 'Opportunity Record Type':'Record_Type', 'Inquiry':'Inquiry', 'Inquiry Date':'Inquiry_Date',
       'Opportunity ID (18-digit)':'Opp_ID', 'Empl ID':'EMPL', 'Application Number':'App_Number'})

In [149]:
#Sort INT by Contact_ID and Interaction Name
INT = INT.sort_values(by = ['Contact_ID','Int_Name'])

In [150]:
#Sort CON by Contact_ID and Opportunity Name
CON = CON.sort_values(by = ['Contact_ID','OppName'])

In [151]:
#Dropping the duplicates to then merge later
CON=CON.drop_duplicates(['Contact_ID'], keep='first')

In [152]:
INT.head(1)

,Contact_ID,Int_Name,Admit_Type,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,Mailing_Street,Mailing_City,Mailing_State,Mailing_Postal,Mailing_Country,Other_City,Other_State,Other_Postal,Mailing_Country,Market_Segment_Code,Market_Segment
665089,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,Female,Fall 2015,Purchased List,1/4/2013,12831 sw 43 dr,miami,FL,33175,United States,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
# Create a datetime variable from Create_Date this operation takes up to 3 min
INT['Create_Date']= pd.to_datetime(INT.Create_Date)

In [154]:
#find earliest create date
INT['Create_Date'].min()

Timestamp('2001-08-06 00:00:00')

Here we will insert the lambda function to extract the YEAR and MONTH from the new datetime type so we can filter on YEAR and groupby MONTH also add M col that can be dictionaried to Names of MONTHS instead of numbers. Question can we format the month names at the conversion?

In [155]:
INT.loc[:,'YEAR'] =INT['Create_Date'].apply(lambda x: "%d" % (x.year))

In [156]:
INT.loc[:,'MONTH'] = INT['Create_Date'].apply(lambda x: "%d" % (x.month))

In [157]:
#This line is depreciated because I found another way to map the month names
#INT.loc[:,'M'] = INT['Create_Date'].apply(lambda x: "%d" % (x.month))

In [158]:
INT.head(1)

,Contact_ID,Int_Name,Admit_Type,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,Mailing_Street,...,Mailing_Postal,Mailing_Country,Other_City,Other_State,Other_Postal,Mailing_Country,Market_Segment_Code,Market_Segment,YEAR,MONTH
665089,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,Female,Fall 2015,Purchased List,2013-01-04,12831 sw 43 dr,...,33175,United States,NaN,NaN,NaN,NaN,NaN,NaN,2013,1

In [159]:
# filter on term for 2017,2018,2019,2020
TERM2017 = INT.loc[(INT.Term == 'Fall 2017')]
TERM2018 = INT.loc[(INT.Term == 'Fall 2018')]
TERM2019 = INT.loc[(INT.Term == 'Fall 2019')]
TERM2020 = INT.loc[(INT.Term == 'Fall 2020')]

In [160]:
len(TERM2017)

182460

In [161]:
len(TERM2018)

143347

In [162]:
len(TERM2019)

80922

In [163]:
len(TERM2020)

24410

In [164]:
#filter on YEAR for  2016,2017,2018,2019
INQ2016 = TERM2017[TERM2017['YEAR'] == '2016']
INQ2017 = TERM2018[TERM2018['YEAR'] == '2017']
INQ2018 = TERM2019[TERM2019['YEAR'] == '2018']
INQ2019 = TERM2020[TERM2020['YEAR'] == '2019']

In [165]:
len(INQ2016)

100697

In [166]:
len(INQ2017)

86803

In [167]:
len(INQ2018)

53500

In [168]:
len(INQ2019)

0

In [169]:
#show head of INQ2016 same for 2017,2018,2019
INQ2016.head(1)

,Contact_ID,Int_Name,Admit_Type,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,Mailing_Street,...,Mailing_Postal,Mailing_Country,Other_City,Other_State,Other_Postal,Mailing_Country,Market_Segment_Code,Market_Segment,YEAR,MONTH
1304180,0031500001d4SiCAAU,20160320-0910984,New Student,NaN,Black/African American,Female,Fall 2017,Web Form,2016-01-12,3 Horsley Road,...,SL6 7RL,ENGLAND,Clermont,Florida,34714,United States,EW-5,EW-5-I-England,2016,1

In [170]:
INQ2016.columns

Index(['Contact_ID', 'Int_Name', 'Admit_Type', 'Ethnic_Group', 'Ethnicity',
       'Gender', 'Term', 'Lead_Source', 'Create_Date', 'Mailing_Street',
       'Mailing_City', 'Mailing_State', 'Mailing_Postal', 'Mailing_Country',
       'Other_City', 'Other_State', 'Other_Postal', 'Mailing_Country',
       'Market_Segment_Code', 'Market_Segment', 'YEAR', 'MONTH'],
      dtype='object')

In [171]:
#confirm that filtered data is a datafram
type(INQ2016)

pandas.core.frame.DataFrame

In [172]:
#pd.show_versions()

In [173]:
#get count by month of each term
INQ2016.Create_Date.dt.month.value_counts().sort_index()

1      3503
2      4667
3      1686
4      1413
5      2547
6     12483
7     12933
8      2435
9      7714
10    18403
11    17757
12    15156
Name: Create_Date, dtype: int64

In [174]:
INQ2017.Create_Date.dt.month.value_counts().sort_index()

1      1882
2      3795
3      3614
4      3558
5     10576
6      6946
7      3798
8      4993
9      5989
10    20881
11    15739
12     5032
Name: Create_Date, dtype: int64

In [175]:
INQ2018.Create_Date.dt.month.value_counts().sort_index()

1     2418
2     2754
3     9018
4    11967
5     7052
6    11067
7     6753
8     2471
Name: Create_Date, dtype: int64

In [176]:
#this creates an empty list because no INQ can be found for 2019
#INQ2019.Create_Date.dt.month.value_counts().sort_index()

In [177]:
#create a timestamp to get values from the FAll 2018 term that are prior to Jan 1 2017
tsprior = pd.Timestamp('1/1/2016')
tsprior2 = pd.Timestamp ('1/1/2017')
tsprior3 = pd.Timestamp('1/1/2018')
tsprior4 = pd.Timestamp('1/1/2019')

In [178]:
tsprior2

Timestamp('2017-01-01 00:00:00')

In [179]:
B4JAN16 = TERM2017.loc[TERM2017.Create_Date <= tsprior,:]
B4JAN17 = TERM2018.loc[TERM2018.Create_Date <= tsprior2,:]
B4JAN18 = TERM2019.loc[TERM2019.Create_Date <= tsprior3,:]
#B4JAN19 = TERM2020.loc[TERM2019.Create_Date <= tsprior4,:]

In [180]:
len(B4JAN16)

58727

In [181]:
len(B4JAN17)

35764

In [182]:
len(B4JAN18)

27464

In [183]:
len(B4JAN19)

80922

In [184]:
#test the counts
B4JAN16['Contact_ID'].value_counts().sum()
#B4JAN17['Contact_ID'].value_counts().sum()
#B4JAN18['Contact_ID'].value_counts().sum()

58727

In [185]:
#B4JAN19['Contact_ID'].value_counts().sum()

In [187]:
R16 = INQ2016.Create_Date.dt.month.value_counts().sort_index()
R17 = INQ2017.Create_Date.dt.month.value_counts().sort_index()
R18 = INQ2018.Create_Date.dt.month.value_counts().sort_index()
R19 = INQ2019.Create_Date.dt.month.value_counts().sort_index()

In [188]:
R16df = pd.DataFrame([R16]).T
R17df = pd.DataFrame([R17]).T
R18df = pd.DataFrame([R18]).T
R19df = pd.DataFrame([R19]).T

In [189]:
#R16df.head()

In [190]:
a =R16df.rename({'Create_Date': 'Count-2016'}, axis = 'columns')
#R16df.rename({'Create_Date': 'Count-2016'}, axis = 'columns')

In [191]:
b = R17df.rename({'Create_Date': 'Count-2017'}, axis = 'columns')
#R17df.rename({'Create_Date': 'Count-2017'}, axis = 'columns')

In [192]:
#R18df.rename({'Create_Date': 'Count-2018'}, axis = 'columns')
c = R18df.rename({'Create_Date': 'Count-2018'}, axis = 'columns')

In [193]:
#d = R19df.rename({'Create_Date': 'Count-2019'}, axis = 'columns')

In [194]:
 j = pd.concat([a, b], axis=1, join_axes=[a.index])

In [195]:
#j.head(1)

In [196]:
k = pd.concat([j, c], axis=1, join_axes=[a.index])

In [197]:
#k2 = pd.concat([k, d], axis=1, join_axes=[a.index])

In [198]:
k.head()

   Count-2016  Count-2017  Count-2018
1        3503        1882      2418.0
2        4667        3795      2754.0
3        1686        3614      9018.0
4        1413        3558     11967.0
5        2547       10576      7052.0

In [199]:
#2019 has no results so do not include d
#k2.head()

In [200]:
type(k)

pandas.core.frame.DataFrame

In [201]:
k.dtypes

Count-2016      int64
Count-2017      int64
Count-2018    float64
dtype: object

In [202]:
k =  k.replace(np.nan,0)

In [203]:
k['Count-2018'] =k['Count-2018'].astype(int)
k

    Count-2016  Count-2017  Count-2018
1         3503        1882        2418
2         4667        3795        2754
3         1686        3614        9018
4         1413        3558       11967
5         2547       10576        7052
6        12483        6946       11067
7        12933        3798        6753
8         2435        4993        2471
9         7714        5989           0
10       18403       20881           0
11       17757       15739           0
12       15156        5032           0

In [204]:
#k.dtypes

In [205]:
k.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [206]:
# create  a dictionary to map the month values
dict = {1:'JAN',2:'FEB',3:'MAR',4:'APR',5:'MAY',6:'JUN',7:'JUL',8:'AUG',9:'SEP',10:'OCT',11:'NOV',12:'DEC'}

In [207]:
#map the dictionary to the new col on index
k ['MONTH'] = k.index.map(dict)

In [208]:
k

    Count-2016  Count-2017  Count-2018 MONTH
1         3503        1882        2418   JAN
2         4667        3795        2754   FEB
3         1686        3614        9018   MAR
4         1413        3558       11967   APR
5         2547       10576        7052   MAY
6        12483        6946       11067   JUN
7        12933        3798        6753   JUL
8         2435        4993        2471   AUG
9         7714        5989           0   SEP
10       18403       20881           0   OCT
11       17757       15739           0   NOV
12       15156        5032           0   DEC

In [209]:
#change the name of the df and rearragne the cols
INQbyMONTH = k[['MONTH','Count-2016','Count-2017','Count-2018']]

In [210]:
#this is the result
INQbyMONTH

   MONTH  Count-2016  Count-2017  Count-2018
1    JAN        3503        1882        2418
2    FEB        4667        3795        2754
3    MAR        1686        3614        9018
4    APR        1413        3558       11967
5    MAY        2547       10576        7052
6    JUN       12483        6946       11067
7    JUL       12933        3798        6753
8    AUG        2435        4993        2471
9    SEP        7714        5989           0
10   OCT       18403       20881           0
11   NOV       17757       15739           0
12   DEC       15156        5032           0

In [211]:
#it is a df
type(INQbyMONTH)

pandas.core.frame.DataFrame

In [212]:
x = B4JAN16['Contact_ID'].value_counts().sum()
y = B4JAN17['Contact_ID'].value_counts().sum()
z = B4JAN18['Contact_ID'].value_counts().sum()
xx = B4JAN19['Contact_ID'].value_counts().sum()

In [213]:
PRIOR = pd.DataFrame({'Prior to Jan 2016': x , 'Prior to Jan 2017': y , 'Prior to Jan 2018': z, 'Prior to Jan 2019': xx},index = [0])

In [214]:
PRIOR

   Prior to Jan 2016  Prior to Jan 2017  Prior to Jan 2018  Prior to Jan 2019
0              58727              35764              27464              80922

In [215]:
#create a timestamp to get prior values for FEB and AUG
tspriorFEB17 = pd.Timestamp('2/1/2017')
tspriorFEB18 = pd.Timestamp ('2/1/2018')
tspriorFEB19 = pd.Timestamp('2/1/2019')
tspriorAUG17 = pd.Timestamp('8/1/2017')
tspriorAUG18 = pd.Timestamp ('8/1/2018')
tspriorAUG19 = pd.Timestamp('8/1/2019')

In [216]:
# create the path where the results willbe sent
path_final = r'C:/Users/mjc341/Desktop/EMSA-GIT/COLAB'

In [217]:
path_final

'C:/Users/mjc341/Desktop/EMSA-GIT/COLAB'

In [377]:
writer = pd.ExcelWriter(path_final + '/' + 'SalesForceByMonth1' + '.xlsx')
INQbyMONTH.to_excel(writer,'Results')
PRIOR.to_excel(writer, 'PRIOR')
workbook = writer.book
worksheet = writer.sheets['Results'] 
worksheet2 = writer.sheets ['PRIOR']

format1 = workbook.add_format({'num_format': '#,##', 'bold': True, 'border': '1'})
format2 = workbook.add_format({'num_format': '##,###', 'border': '1','bg_color':'#FFC7CE'})
format3 = workbook.add_format({'border': '1','bg_color':'#DAF7A6'})
format4 = workbook.add_format({'border': '1','bg_color':'#DAF7A6'})
#added bkground color so we can show different years

# Note: It isn't possible to format any cells that already have a format such
# as the index or headers or any cells that contain dates or datetimes.

worksheet.set_column('A:A', 10)
worksheet.set_column('B:E', 12)
worksheet.set_row(1, None, format2)
worksheet.set_row(2, None, format2)
worksheet.set_row(3, None, format2)
worksheet.set_row(4, None, format2)
worksheet.set_row(5, None, format2)
worksheet.set_row(6, None, format2)
worksheet.set_row(7, None, format2)
worksheet.set_row(8, None, format2)
worksheet.set_row(9, None, format2)
worksheet.set_row(10, None, format2)
worksheet.set_row(11, None, format2)
worksheet.set_row(12, None, format2)

worksheet2.set_column('A:A', 10)
worksheet2.set_column('B:E', 18)
worksheet2.set_row(1, None, format3)
worksheet2.set_row(2, None, format4)

#dont write unbti you check the code then remove the # below
#writer.save()