In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [254]:
#disable warnings
import warnings; warnings.simplefilter('ignore')

In [4]:
#INT is the contact information for INTERACTIONS
INT=pd.read_csv('C:/Users/mjc341/Desktop/UMAN 1507 Monthly INQ summary Report/Interactions.Contacts.csv',skipfooter=5,encoding='latin-1',engine ='python')
#INT=pd.read_csv('C:/Users/sxh706/Desktop/Interactions.by.Month/2018/June/Interactions.Contacts.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [5]:
#CON is the CONTACT TERM information
CON=pd.read_csv('C:/Users/mjc341/Desktop/UMAN 1507 Monthly INQ summary Report/Interactions.Opportunity.Term.csv',skipfooter=5,encoding='latin-1',engine ='python')
#CON=pd.read_csv('C:/Users/sxh706/Desktop/Interactions.by.Month/2018/June/Interactions.Opportunity.Term.csv',skipfooter=5,encoding='latin-1',engine ='python')

In [6]:
len(INT)

1476708

In [7]:
len(CON)

818555

In [8]:
#INT.info()

In [9]:
INT.columns

Index(['Contact: Contact ID (18-digit)', 'Interaction: Interaction Name',
       'Admit Type', 'Contact: First Name', 'Contact: Middle Name',
       'Contact: Last Name', 'Contact: Ethnic Group', 'Contact: Ethnicity',
       'Contact: Gender', 'Term', 'Lead Source', 'Interaction: Created Date',
       'Contact: Mailing Street', 'Contact: Mailing City',
       'Contact: Mailing State/Province', 'Contact: Mailing Zip/Postal Code',
       'Contact: Mailing Country', 'Contact: Other City',
       'Contact: Other State/Province', 'Contact: Other Zip/Postal Code',
       'Contact: Other Country', 'Contact: Market Segment Code',
       'Contact: Market Segment'],
      dtype='object')

In [10]:
CON.columns

Index(['Contact ID (18-digit)', 'Full Name', 'Opportunity Name',
       'Term: Term Name', 'Opportunity Record Type', 'Inquiry', 'Inquiry Date',
       'Opportunity ID (18-digit)', 'Empl ID', 'Application Number'],
      dtype='object')

In [11]:
#CON.info()

In [12]:
#remove columns with identifing info
CON = CON.drop(columns =['Full Name'])

In [13]:
#remove columsn with identifing info
INT = INT.drop(columns= ['Contact: First Name', 'Contact: Middle Name',
       'Contact: Last Name'])

In [14]:
#changed the name of columns using a dictionary
INT = INT.rename(columns ={'Contact: Contact ID (18-digit)':'Contact_ID','Interaction: Interaction Name':'Int_Name',
       'Admit Type':'Admit_Type','Contact: Ethnic Group': 'Ethnic_Group', 'Contact: Ethnicity':'Ethnicity',
       'Contact: Gender':'Gender', 'Term':'Term', 'Lead Source':'Lead_Source', 'Interaction: Created Date':'Create_Date',
       'Contact: Mailing Street':'Mailing_Street', 'Contact: Mailing City':'Mailing_City',
       'Contact: Mailing State/Province':'Mailing_State', 'Contact: Mailing Zip/Postal Code':'Mailing_Postal',
       'Contact: Mailing Country':'Mailing_Country', 'Contact: Other City':'Other_City',
       'Contact: Other State/Province':'Other_State', 'Contact: Other Zip/Postal Code':'Other_Postal',
       'Contact: Other Country':'Mailing_Country', 'Contact: Market Segment Code':'Market_Segment_Code',
       'Contact: Market Segment':'Market_Segment'},inplace =False)

In [15]:
#changed the name of columns
CON = CON.rename(columns={  'Contact ID (18-digit)':'Contact_ID', 'Opportunity Name':'OppName', 
       'Term: Term Name':'Term', 'Opportunity Record Type':'Record_Type', 'Inquiry':'Inquiry', 'Inquiry Date':'Inquiry_Date',
       'Opportunity ID (18-digit)':'Opp_ID', 'Empl ID':'EMPL', 'Application Number':'App_Number'})

In [16]:
#Sort INT by Contact_ID and Interaction Name
INT = INT.sort_values(by = ['Contact_ID','Int_Name'])

In [17]:
#Sort CON by Contact_ID and Opportunity Name
CON = CON.sort_values(by = ['Contact_ID','OppName'])

In [20]:
#Dropping the duplicates to then merge later
CON=CON.drop_duplicates(['Contact_ID'], keep='first')

In [21]:
INT.head(1)

,Contact_ID,Int_Name,Admit_Type,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,Mailing_Street,Mailing_City,Mailing_State,Mailing_Postal,Mailing_Country,Other_City,Other_State,Other_Postal,Mailing_Country,Market_Segment_Code,Market_Segment
774326,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,Female,Fall 2015,Purchased List,1/4/2013,12831 sw 43 dr,miami,FL,33175,United States,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Create a datetime variable from Create_Date this operation takes up to 3 min
INT['Create_Date']= pd.to_datetime(INT.Create_Date)

In [24]:
#find earliest create date
INT['Create_Date'].min()

Timestamp('2001-08-06 00:00:00')

Here we will insert the lambda function to extract the YEAR and MONTH from the new datetime type so we can filter on YEAR and groupby MONTH also add M col that can be dictionaried to Names of MONTHS instead of numbers. Question can we format the month names at the conversion?

In [255]:
INT.loc[:,'YEAR'] =INT['Create_Date'].apply(lambda x: "%d" % (x.year))

In [257]:
INT.loc[:,'MONTH'] = INT['Create_Date'].apply(lambda x: "%d" % (x.month))

In [258]:
INT.loc[:,'M'] = INT['Create_Date'].apply(lambda x: "%d" % (x.month))

In [260]:
INT.head(1)

,Contact_ID,Int_Name,Admit_Type,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,Mailing_Street,...,Mailing_Country,Other_City,Other_State,Other_Postal,Mailing_Country,Market_Segment_Code,Market_Segment,YEAR,MONTH,M
774326,0031500001d4Si8AAE,20160320-0100599,New Student,NaN,NaN,Female,Fall 2015,Purchased List,2013-01-04,12831 sw 43 dr,...,United States,NaN,NaN,NaN,NaN,NaN,NaN,2013,1,1

In [264]:
# filter on term for 2017,2018,2019
TERM2017 = INT.loc[(INT.Term == 'Fall 2017')]
TERM2018 = INT.loc[(INT.Term == 'Fall 2018')]
TERM2019 = INT.loc[(INT.Term == 'Fall 2019')]

In [266]:
#filter on YEAR for  2016,2017,2018
INQ2016 = TERM2017[TERM2017['YEAR'] == '2016']
INQ2017 = TERM2018[TERM2018['YEAR'] == '2017']
INQ2018 =TERM2019[TERM2019['YEAR'] == '2018']

In [267]:
len(INQ2016)

124743

In [268]:
len(INQ2017)

115443

In [271]:
len(INQ2018)

46989

In [273]:
#show head of INQ2016 same for 2017,2018
INQ2016.head(1)

,Contact_ID,Int_Name,Admit_Type,Ethnic_Group,Ethnicity,Gender,Term,Lead_Source,Create_Date,Mailing_Street,...,Mailing_Country,Other_City,Other_State,Other_Postal,Mailing_Country,Market_Segment_Code,Market_Segment,YEAR,MONTH,M
1475299,0031500001d4SiCAAU,20160320-0910984,New Student,NaN,Black/African American,Female,Fall 2017,Web Form,2016-01-12,3 Horsley Road,...,ENGLAND,Clermont,Florida,34714,United States,EW-5,EW-5-I-England,2016,1,1

In [274]:
INQ2016.columns

Index(['Contact_ID', 'Int_Name', 'Admit_Type', 'Ethnic_Group', 'Ethnicity',
       'Gender', 'Term', 'Lead_Source', 'Create_Date', 'Mailing_Street',
       'Mailing_City', 'Mailing_State', 'Mailing_Postal', 'Mailing_Country',
       'Other_City', 'Other_State', 'Other_Postal', 'Mailing_Country',
       'Market_Segment_Code', 'Market_Segment', 'YEAR', 'MONTH', 'M'],
      dtype='object')

In [275]:
#confirm that filtered data is a datafram
type(INQ2016)

pandas.core.frame.DataFrame

In [63]:
#pd.show_versions()

In [281]:
#get count by month of each term
INQ2016.Create_Date.dt.month.value_counts().sort_index()

1      3503
2      4667
3      1686
4      1413
5      2558
6     12485
7     12934
8      2437
9      8965
10    25071
11    28158
12    20866
Name: Create_Date, dtype: int64

In [282]:
INQ2017.Create_Date.dt.month.value_counts().sort_index()

1      1882
2      3795
3      3614
4      3560
5     10591
6      6949
7      3798
8      5233
9      7122
10    31401
11    25950
12    11548
Name: Create_Date, dtype: int64

In [284]:
INQ2018.Create_Date.dt.month.value_counts().sort_index()

1     2418
2     2757
3     9018
4    11971
5     7061
6    11067
7     2697
Name: Create_Date, dtype: int64

In [289]:
#create a timestamp to get values from the FAll 2018 term that are prior to Jan 1 2017
tsprior = pd.Timestamp('1/1/2016')
tsprior2 = pd.Timestamp ('1/1/2017')
tsprior3 = pd.Timestamp('1/1/2018')

In [290]:
tsprior2

Timestamp('2017-01-01 00:00:00')

In [291]:
B4JAN16 = TERM2017.loc[TERM2017.Create_Date <= tsprior,:]
B4JAN17 = TERM2018.loc[TERM2018.Create_Date <= tsprior2,:]
B4JAN18 = TERM2019.loc[TERM2019.Create_Date <= tsprior2,:]

In [292]:
len(B4JAN16)

58733

In [295]:
len(B4JAN17)

35766

In [296]:
len(B4JAN18)

7087

In [299]:
#test the counts
B4JAN16['Contact_ID'].value_counts().sum()
#B4JAN17['Contact_ID'].value_counts().sum()
#B4JAN18['Contact_ID'].value_counts().sum()

58733

In [300]:
# M = Month end frq and MS = month start freq
rng2017 = pd.date_range('2017 Jan 1 00:00', periods = 12, freq = 'MS')
rng2018 = pd.date_range('2018 Jan 1 00:00', periods = 12, freq = 'MS')
rng2019 = pd.date_range('2019 Jan 1 00:00', periods = 12, freq = 'MS')

In [301]:
# create ranges which are interval by month for 2016
rng2017

DatetimeIndex(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [302]:
rng2018

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
               '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
               '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [303]:
rng2019

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [304]:
# create  a dictionalry to map the month values
#dict = {"1":'JAN',"2":'FEB',"3":'MAR',"4":'APR',"5":'MAY',"6":'JUN',"7":'JUL',"8":'AUG',"9":'SEP',"10":'OCT',"11":'NOV',"12":'DEC'}

In [305]:
#AT17['M'] = AT17['M'].map(dict)

In [306]:
#create a variable that can be used later to find the running total
x = len(B4JAN16)
x

58733

In [309]:
R16 = INQ2016.Create_Date.dt.month.value_counts().sort_index()
R17 = INQ2017.Create_Date.dt.month.value_counts().sort_index()
R18 = INQ2018.Create_Date.dt.month.value_counts().sort_index()

In [310]:
type(R16)

pandas.core.series.Series

In [314]:
R16df = pd.DataFrame([R16]).T
R17df = pd.DataFrame([R17]).T
R18df = pd.DataFrame([R18]).T

In [315]:
type(R16df)

pandas.core.frame.DataFrame

In [316]:
R16df.head()

   Create_Date
1         3503
2         4667
3         1686
4         1413
5         2558

In [307]:
# create the path where the results willbe sent
path_final = r'C:/Users/mjc341/Desktop/EMSA-GIT/COLAB'

In [308]:
path_final

'C:/Users/mjc341/Desktop/EMSA-GIT/COLAB'

In [356]:
writer = pd.ExcelWriter(path_final + '/' + 'SalesForce Monthly Inq Report' + '.xlsx')
g3.to_excel(writer,'Results')
workbook = writer.book
worksheet = writer.sheets['Results'] 

format1 = workbook.add_format({'num_format': '#,##', 'bold': True, 'border': '1'})
format2 = workbook.add_format({'num_format': '##,###', 'border': '1','bg_color':'#FFC7CE'})

#added bkground color so we can show different years

# Note: It isn't possible to format any cells that already have a format such
# as the index or headers or any cells that contain dates or datetimes.

worksheet.set_column('A:A', 10)
worksheet.set_column('B:E', 12)
worksheet.set_row(1, None, format2)
worksheet.set_row(2, None, format2)
worksheet.set_row(3, None, format2)
worksheet.set_row(4, None, format2)
worksheet.set_row(5, None, format2)
worksheet.set_row(6, None, format2)
worksheet.set_row(7, None, format2)
worksheet.set_row(8, None, format2)
worksheet.set_row(9, None, format2)
worksheet.set_row(10, None, format2)
worksheet.set_row(11, None, format2)
worksheet.set_row(12, None, format2)
worksheet.set_row(13, None, format2)


writer.save()

In [ ]:
"""f,ax =plt.subplots(figsize = (10,8))
sns.countplot(x = 'Lead_Source', data =INT,color = 'powderblue')
plt.xticks(rotation = 90)
plt.title('Count of Contact by Lead Source', loc = 'center', size = 20) """